#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/HautClient/gui/start.sh
Name=HautClient
Icon=/opt/HautClient/image/ico.png



